@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Style Guide Color Palette */
  --neutral-900: #02012c;
  --neutral-800: #262540;
  --neutral-700: #302f4a;
  --neutral-600: #3c3b5e;
  --neutral-300: #acacb7;
  --neutral-200: #d4d3d9;
  --neutral-0: #ffffff;
  --orange-500: #ff820a;
  --blue-500: #4658d9;
  --blue-700: #2b1b9c;

  /* Font Variables */
  --font-dm-sans: var(--font-dm-sans);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
}

body {
  font-family: var(--font-dm-sans), sans-serif;
  min-height: 100vh;
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  font-size: 1.125rem;
}

h1 {
  font-family: var(--font-bricolage-grotesque);
  font-weight: 700;
}

@media (hover: hover) {
  @layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }
  }
}
