@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-neutral-900: #02012c;
  --color-neutral-800: #262540;
  --color-neutral-700: #302f4a;
  --color-neutral-600: #3c3b5e;
  --color-neutral-300: #acacb7;
  --color-neutral-200: #d4d3d9;
  --color-neutral-0: #ffffff;
  --color-orange-500: #ff820a;
  --color-blue-500: #4658d9;
  --color-blue-700: #2b1b9c;

  --font-dm-sans: var(--font-dm-sans);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
}

body {
  font-family: var(--font-dm-sans), sans-serif;
  min-height: 100vh;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-0);
  font-size: 1.125rem;
}

h1 {
  font-family: var(--font-bricolage-grotesque);
  font-weight: 700;
}

@media (hover: hover) {
  @layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }
  }
}
