@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Style Guide Color Palette */
  --neutral-900: hsl(241, 96%, 9%);
  --neutral-800: hsl(242, 27%, 20%);
  --neutral-700: hsl(242, 22%, 24%);
  --neutral-600: hsl(242, 23%, 30%);
  --neutral-300: hsl(240, 7%, 70%);
  --neutral-200: hsl(250, 7%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
  --orange-500: hsl(29, 100%, 52%);
  --blue-500: hsl(233, 66%, 56%);
  --blue-700: hsl(247, 70%, 36%);

  /* Font Variables */
  --font-dm-sans: var(--font-dm-sans);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
}

body {
  font-family: var(--font-dm-sans), sans-serif;
  min-height: 100vh;
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  font-size: 1.125rem;
}

h1 {
  font-family: var(--font-bricolage-grotesque);
  font-weight: 700;
}

@media (hover: hover) {
  @layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }
  }
}
